.git
.next
node_modules
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.qodo
public/qr-code
scripts
backend/schema.sql
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.md
README.md
postcss.config.mjs
eslint.config.mjs
tsconfig.json
components.json
populate-questions.js
hash-password.js
socket-server.mjs
